/* font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* start header */
header {
  background-color: #142128;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  padding: 20px 230px;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  text-decoration: none;
  color: #2e83b9;
  font-weight: 700;
  font-size: 25px;
  transition: all 0.3s;
}
.nav-logo:hover {
  transform: scale(1.1);
}
.nav-logo span {
  color: #bce2fa;
  font-weight: 600;
  font-size: 18px;
  margin-left: -2px;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.header-navbar a {
  text-decoration: none;
  color: #cee9f9;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.3s;
}

.header-navbar a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 2px 4px 10px #2e83b9;
  font-size: 19px;
  margin-top: -3px;
}
/* end header  */

/* start main  */
.main-section {
  background-image: url(img/section\ img\ 2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 200px;
  max-width: 101%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.main-section h2 {
  color: white;
  font-size: 23px;
  font-weight: 500;
}
.main-section h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #00caf7;
  font-size: 50px;
  font-weight: 600;
}
.main-section h3 {
  color: white;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 0 30px 0;
}
.main-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #00caf7;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 15px;
  margin-bottom: 25px;
  transition: all 0.3s;
}
.main-btn:hover {
  background-color: #0371b6;
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgb(53, 150, 171);
}
.social-icons a {
  text-decoration: none;
  font-size: 30px;
  transition: all 0.3s;
  padding: 0 5px 0 0;
}
.li,
.fb {
  color: blue;
}
.gh {
  color: black;
}
.ig {
  color: #b01f71;
}
.wa {
  color: rgb(81, 171, 81);
}
.social-icons a:hover {
  font-size: 35px;
  text-shadow: 0 2px 50px #00c8ff;
}
/* end main  */

/* start .services  */
.services-section {
  min-height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-logo {
  color: #286f9b;
  font-size: 30px;
  font-weight: 900;
  padding: 0 0 35px 0;
}
/* ----- card -----  */
.card-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: center;
  width: 100%;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #064b76;
  margin: 0 20px;
  padding: 50px;
  border-radius: 15px;
  width: 25%;
  transition: all 0.3s;
}
.card-icon {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 90px;
  color: #2e83b9;
}
.card-content h2 {
  color: #2e83b9;
  margin-bottom: 10px;
}
.card-content p {
  color: #c2e3f8;
  font-size: 17px;
  font-weight: 500;
}
.card-content:hover {
  transform: scale(1.1);
  box-shadow: 0 0px 50px #00c8ff;
}
/* end services  */

/* start projects  */
.project-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 135vh;
  background-color: #203641;
  padding-top: 100px;
}
.project-logo {
  color: #286f9b;
  font-size: 30px;
  font-weight: 900;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  transform: scale(0.8);
  margin-top: -70px;
}
.project-card {
  background-color: #bce2fa;
  width: 29%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #00c8ff;
  border-radius: 15px;
  transition: all 0.3s;
}
.project-card img {
  width: 100%;
  height: 70%;
  margin-bottom: 25px;
  border-radius: 15px 15px 0 0;
}
.card-info {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  padding: 0 0 20px 0;
}
.card-info h3 {
  color: #142128;
  font-weight: 900;
}
.card-info a {
  text-decoration: none;
  color: #2e83b9;
  background-color: #142128;
  font-size: 20px;
  font-weight: 700;
  padding: 7px 14px;
  border: none;
  border-radius: 12px;
  margin: 15px 0 0px 0;
  transition: all 0.3s;
}
.card-info a:hover {
  background-color: #2e83b9;
  color: #c2e3f8;
  transform: scale(1.1);
  box-shadow: 0 5px 30px rgb(94, 170, 196);
}
.project-card:hover {
  transform: scale(1.1);
  box-shadow: 0 1px 40px #bce2fa;
}
/* end projects  */

/* start contact  */
.contact-section {
  min-height: 80vh;
}
.contact-card {
  background-color: #064b76;
  padding: 30px;
  box-shadow: 0 0 50px #529ab3;
}
.contact-card i {
  font-size: 150px;
  color: #2e83b9;
}
.contact-card-info h1 {
  color: #c1d0d9;
}
.contact-card-info p {
  color: #c1d0d9;
  font-weight: 500;
  padding: 10px 10px 0px 10px;
  margin-bottom: -10px;
  font-size: 18px;
}
/* end contact  */

/* start footer */
.footer-section {
  min-height: 40vh;
  background-color: #203641;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px 0;
}
.footer-logo {
  color: #286f9b;
  font-size: 30px;
  font-weight: 900;
  padding: 0 0 15px 0;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}
.input {
  width: 60%;
  height: 35px;
  padding: 20px;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  margin: 5px 0;
}
.contact-form textarea {
  height: 70px;
  padding-top: 10px;
  margin-bottom: 20px;
}
.form-btn input {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  padding: 5px 120px;
  transition: all 0.3s;
  margin: 0 8px 0 8px;
}
.form-btn input:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 30px #7cc5f359;
}
.form-btn-send {
  color: #f0f0f0;
  background-color: #0798c4;
}
.form-btn-reset {
  color: #00c8ff;
  background-color: #064b76;
}

.powerd-by {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-icons a {
  font-size: 30px;
  margin-bottom: 15px;
}
.footer-icons a:hover {
  font-size: 32px;
}
.powerdby {
  color: #c1d0d9;
  font-size: 15px;
  margin: 10px 0;
}
/* end footer */

/* ------------------ */
/* ------------------ */
/* ------------------ */
/* ------------------ */
/* ------------------ */

@media (max-width: 750px) {
  /* start header */
  header {
    background-color: #142128;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    align-items: center;
  }

  .nav-logo {
    transform: scale(0.9);
  }
  .nav-logo:hover {
    transform: scale(1);
  }

  .header-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 10px 0 10px 0;
  }

  .header-navbar a {
    font-size: 18px;
    margin-bottom: 5px;
  }
  /* end header  */

  /* start main  */
  .main-section {
    background-image: none;
    background-color: #235169;
    padding: 100px 20px 0 20px;
    width: 100.1%;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .main-btn {
    width: 300px;
  }
  .social-icons {
    margin-bottom: -50px;
  }
  .social-icons a {
    font-size: 40px;
  }
  /* end main  */

  /* start .services  */
  .section-logo {
    color: #286f9b;
    font-size: 30px;
    font-weight: 900;
    padding: 35px 0;
  }
  /* ----- card -----  */
  .card-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
  }
  .card-content {
    margin-bottom: 20px;
    margin-top: 0px;
    border-radius: 25px;
    padding: 40px;
    width: 80%;
  }
  /* end services  */

  /* start projects  */
  .project-section {
    padding: 35px 0;
    width: 100.1%;
  }
  .project-logo {
    color: #286f9b;
    font-size: 30px;
    font-weight: 900;
    padding: 0;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transform: scale(1);
    margin-top: 35px;
  }
  .project-card {
    background-color: #bce2fa;
    width: 80%;
    margin: 0px;
    margin-bottom: 35px;
    border-radius: 20px;
  }
  .project-card img {
    border-radius: 20px 20px 0 0;
  }
  /* end projects  */

  /* start contact  */
  .contact-card-info p {
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
  }
  /* end contact  */

  /* start footer */
  .footer-section {
    min-height: 50vh;
    background-color: #203641;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0 20px 0;
  }
  .footer-logo {
    color: #286f9b;
    font-size: 30px;
    font-weight: 900;
    padding: 0 0 15px 0;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
  }
  .input {
    width: 80%;
  }
  .contact-form textarea {
    margin-bottom: 13px;
  }
  .form-btn {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-btn input {
    width: 100%;
    margin: 5px 0;
  }
  .form-btn input:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 30px #7cc5f359;
  }
  .form-btn-send {
    color: #f0f0f0;
    background-color: #0798c4;
  }
  .form-btn-reset {
    color: #00c8ff;
    background-color: #064b76;
  }

  .powerd-by {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-icons a {
    font-size: 30px;
    margin-bottom: px;
  }
  .footer-icons a:hover {
    font-size: 32px;
  }
  .powerdby {
    color: #c1d0d9;
    font-size: 15px;
    margin: 50px 0 10px 0;
  }
  /* end footer */
}
